
<div class="sidebar-body" data-section="layers">
	<div class="layers-body">

		<div class="layer" data-layer="2">
			<div class="visibility">
				<i class="icon-eye-on" data-click="toggle-layer-visiblity"></i>
			</div>
			<div class="thumbnail">
				<span class="bg-checker"></span>
			</div>
			<div class="info">
				<span>Layer 1</span>
			</div>
		</div>
		
		<div class="layer" data-layer="1">
			<div class="visibility">
				<i class="icon-eye-on" data-click="toggle-layer-visiblity"></i>
			</div>
			<div class="thumbnail">
				<span style="background: #fff;"></span>
			</div>
			<div class="info">
				<span>Background</span>
			</div>
		</div>

	</div>
</div>
