
<div class="sidebar-body" data-section="brush">
	<div class="brush-presets">
		<div></div>
		<div></div>
		<div></div>
		<div></div>

		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>

	<div class="controls">
		<legend></legend>

		<div class="control">
			<span class="label">Scale</span>
			<div class="knob" data-value="0" data-min="3000" data-max="25000" data-step="50"></div>
			<span class="value">0.175</span>
		</div>

		<div class="control">
			<span class="label">Height</span>
			<div class="knob" data-value="0" data-min="-1" data-max="1" data-step="0.01"></div>
			<span class="value">1.5</span>
		</div>

		<div class="control">
			<span class="label">Stiffness</span>
			<div class="knob" data-value="0" data-min="-1" data-max="1" data-step="0.01"></div>
			<span class="value">7.15</span>
		</div>
	</div>

	<div class="controls">
		<legend></legend>

		<div class="control">
			<span class="label">Damping</span>
			<div class="knob" data-value="0" data-min="3000" data-max="25000" data-step="50"></div>
			<span class="value">0.175</span>
		</div>

		<div class="control">
			<span class="label">Gravity</span>
			<div class="knob" data-value="0" data-min="-1" data-max="1" data-step="0.01"></div>
			<span class="value">1.5</span>
		</div>

		<div class="control">
			<span class="label">Speed</span>
			<div class="knob" data-value="0" data-min="-1" data-max="1" data-step="0.01"></div>
			<span class="value">7.15</span>
		</div>
	</div>

	<div class="controls">
		<legend>Splat</legend>

		<div class="control">
			<span class="label">Velocity</span>
			<div class="knob" data-value="0" data-min="3000" data-max="25000" data-step="50"></div>
			<span class="value">0.175</span>
		</div>

		<div class="control">
			<span class="label">Radius</span>
			<div class="knob" data-value="0" data-min="-1" data-max="1" data-step="0.01"></div>
			<span class="value">1.5</span>
		</div>

		<div class="control">
			<span class="label">Padding</span>
			<div class="knob" data-value="0" data-min="-1" data-max="1" data-step="0.01"></div>
			<span class="value">7.15</span>
		</div>
	</div>
</div>
