
<div class="picker">
	<canvas></canvas>
	<div class="picker-ring">
		<div class="hole"></div>
	</div>
	<div class="picker-box"></div>
	<div class="picker-alpha"></div>
</div>
<div class="palette" data-click="select-color">
	<span style="background: #5cc2fc;" class="active"></span>
	<span style="background: #79fce9;"></span>
	<span style="background: #8cf85a;"></span>
	<span style="background: #feef63;"></span>
	<span style="background: #fd978f;"></span>
	<span style="background: #fd97ca;"></span>
	
	<span style="background: #1ca4fc;"></span>
	<span style="background: #2fe6cf;"></span>
	<span style="background: #65d643;"></span>
	<span style="background: #fed846;"></span>
	<span style="background: #fc6554;"></span>
	<span style="background: #fc48a1;"></span>
	
	<span style="background: #1177b8;"></span>
	<span style="background: #1aaa8e;"></span>
	<span style="background: #29af1d;"></span>
	<span style="background: #fcad2a;"></span>
	<span style="background: #eb261f;"></span>
	<span style="background: #d12177;"></span>
	
	<span style="background: #084e7e;"></span>
	<span style="background: #0c6c65;"></span>
	<span style="background: #0d700f;"></span>
	<span style="background: #f07220;"></span>
	<span style="background: #b31a10;"></span>
	<span style="background: #951453;"></span>
	
	<span style="background: #ffffff;"></span>
	<span style="background: #d5d5d5;"></span>
	<span style="background: #929292;"></span>
	<span style="background: #5e5e5e;"></span>
	<span style="background: #222222;"></span>
	<span style="background: #000000;"></span>
</div>
