<content>
	<div class="workarea">
		<div class="wrapper"></div>
	</div>
	<div class="sidebar">
		<div class="container">

			<div class="sidebar-head" data-click="select-tab">
				<span class="active">Colors</span>
				<span>Brush</span>
				<span>Layers</span>
			</div>

			<!-- Table body -->
			<div class="sidebar-body active">
				@import "sections/sidebar-colors.htm"
			</div>

			<div class="sidebar-body">
				Brush options
			</div>

			<div class="sidebar-body">
				Layers
			</div>

		</div>
	</div>
</content>
