<content>
	<!-- shown if no file is opened -->
	<div class="blank-view">
		<!-- blank view HTML goes here -->
	</div>

	<!-- shown if any file or blank file is in view -->
	<div class="workarea">
		<div class="wrapper">
			<div class="easel bg-checker">
				<div class="resize north"></div>
				<div class="resize east"></div>
				<div class="resize south"></div>
				<div class="resize west"></div>
				<div class="file-layers">
					<div class="file-layer fl-1"></div>
					<div class="file-layer fl-2"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="sidebar" data-area="sidebar">
		<div class="container">

			<div class="sidebar-head" data-click="select-tab">
				<span class="active">Colors</span>
				<span>Brush</span>
				<span>Layers</span>
			</div>

			@import "sections/sidebar-colors.htm"
			@import "sections/sidebar-brush.htm"
			@import "sections/sidebar-layers.htm"

		</div>
	</div>
</content>
