<content class="show-sidebar">
	<div class="workarea bg-checker">
		<div class="wrapper">
			<div class="easel">
				<div class="resize north"></div>
				<div class="resize east"></div>
				<div class="resize south"></div>
				<div class="resize west"></div>
				<div class="file-layers">
					<div class="file-layer fl-1"></div>
					<div class="file-layer fl-2"></div>
					<div class="file-layer fl-3"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="sidebar" data-area="sidebar">
		<div class="container">

			<div class="sidebar-head" data-click="select-tab">
				<span class="active">Colors</span>
				<span>Brush</span>
				<span>Layers</span>
			</div>

			@import "sections/sidebar-colors.htm"
			@import "sections/sidebar-brush.htm"
			@import "sections/sidebar-layers.htm"

		</div>
	</div>
</content>
