
@sidebar_bg: #ececec;
@layout_outline: #bbb;
@outline_color: #bbb;
@table_border: #a6a6a6;
@sidebar_speed: 280ms;



content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	user-select: none;

	.workarea {
		// background: rgba(0,0,0,.05);
		background: linear-gradient(45deg, rgba(0, 0, 0, 0.0980392) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.0980392) 75%, rgba(0, 0, 0, 0.0980392) 0), linear-gradient(45deg, rgba(0, 0, 0, 0.0980392) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.0980392) 75%, rgba(0, 0, 0, 0.0980392) 0), white;
		background-repeat: repeat, repeat;
		background-position: 0px 0, 10px 10px;
		background-origin: padding-box, padding-box;
		background-clip: border-box, border-box;
		background-size: 20px 20px, 20px 20px;
		transform: scaleX(1) scaleY(1) scaleZ(1);
		display: flex;
		align-items: center;
		flex: 1;

		.wrapper {
			flex: 1;
			text-align: center;

			canvas {
				display: inline-block;
				background: #f1f1f1;
				box-shadow: 0 0 13px rgba(0,0,0,.35),
							inset 0 1px 0 rgba(255,255,255,.75);
				pointer-events: none;

				// background-color: rgba(0,0,0,.25);
				// background-image: linear-gradient(45deg, rgba(255, 255, 255, .4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .4) 50%, rgba(255, 255, 255, .4) 75%, transparent 75%, transparent);
				// background-size: 50px 50px;
			}
		}
	}

	.sidebar {
		border-left: 1px solid rgba(0,0,0,.175);
		width: 260px;

		.sidebar-head {
			height: 29px;
			border-bottom: 1px solid @layout_outline;
			display: flex;
			background: #ececec;
			color: #888;

			span {
				flex: 1;
				padding-top: 9px;
				font-weight: 400;
				text-align: center;
				user-select: none;

				&:not(:first-child) {
					border-left: 1px solid @layout_outline;
				}

				&.active {
					position: relative;
					z-index: 2;
					background: #ddd;
					color: #333;
					
					&:after {
						display: none;
						content: "";
						position: absolute;
						top: 0;
						left: -1px;
						right: -1px;
						bottom: -1px;
						border: 1px solid darken(#489bf7, 7%);
						border-top: 0;
					}

					&:first-child:after {
						left: 0;
					}

					&:last-child:after {
						border-right: 0;
					}
				}
			}
		}

		.sidebar-body {
			flex: 1;
			position: relative;
			overflow: auto;
			font-size: 12px;
			display: none;

			&.active {
				display: block;
			}
		}


		.picker {
			position: relative;
			padding: 10px;
			width: 240px;
			height: 200px;
			--cp-hue: 0deg;
			--cp-slX: 82px;
			--cp-slY: 82px;
			--cp-alpha: 170px;

			&.debug {
				.picker-ring {
					background: rgba(0,0,255,.5);

					.hole { display: block; }
				}

				.picker-box {
					background: rgba(255,0,0,.5);

					&:before { display: block; }
				}

				.picker-alpha {
					background: rgba(255,0,0,.5);

					&:before { display: block; }
				}
			}

			canvas {
				position: relative;
				// z-index: 3;
			}

			.picker-ring {
				position: absolute;
				top: 14px;
				left: 14px;
				width: 192px;
				height: 192px;
				border-radius: 50%;
				cursor: pointer;
				z-index: 1;

				.hole {
					display: none;
					content: "";
					// background: rgba(255,255,255,1);
					position: absolute;
					top: 18px;
					left: 18px;
					right: 18px;
					bottom: 18px;
					border-radius: 50%;
					cursor: default;
					transform: rotate(var(--cp-hue));
					transform-origin: 50% 50%;

					&:before {
						content: "";
						background: red;
						position: absolute;
						top: -18px;
						left: 50%;
						width: 20px;
						height: 20px;
						margin-left: -10px;
						pointer-events: none;
					}
				}
			}

			.picker-box {
				position: absolute;
				top: 59px;
				left: 59px;
				width: 102px;
				height: 102px;
				z-index: 2;
				cursor: pointer;

				&:before {
					display: none;
					content: "";
					background: red;
					position: absolute;
					top: var(--cp-slY);
					left: var(--cp-slX);
					width: 20px;
					height: 20px;
					pointer-events: none;
				}
			}

			.picker-alpha {
				position: absolute;
				top: 15px;
				left: 220px;
				width: 20px;
				height: 190px;
				cursor: pointer;

				&:before {
					display: none;
					content: "";
					background: red;
					position: absolute;
					top: var(--cp-alpha);
					left: 0;
					width: 20px;
					height: 20px;
					pointer-events: none;
				}
			}
		}

		.palette {
			border-top: 1px solid rgba(0,0,0,.125);
			padding: 20px 0 20px 11px;
			margin-top: 27px;

			&:before {
				content: "";
			}

			> span {
				position: relative;
				display: inline-block;
				width: 33px;
				height: 26px;
				margin: 0 4px 2px 0;
				border-radius: 3px;
				cursor: pointer;
				box-shadow: inset 0 2px 3px rgba(0,0,0,.2),
							inset 0 -2px 1px rgba(255,255,255,.3);

				&:nth-child(6n) {
					margin-right: 0;
				}

				&:before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					border-radius: inherit;
					border: 1px solid rgba(0,0,0,.2);
				}

				&.active {
					cursor: default;

					&:after {
	 					content: "";
						position: absolute;
						top: -3px;
						left: -3px;
						right: -3px;
						bottom: -3px;
						border: 2px solid #3583d077;
						border-radius: 5px;
						z-index: 2;
					}
				}
			}
		}
	}
}
